{% extends 'base.html' %}

{% block title %}Contraseña olvidada{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.m == "s" %}
            <h3>El enlace de restablecimiento de contraseña se ha enviado a su correo electrónico. </h3>
            {% else %}
            <h3>Ingrese el correo que usó para registrarse</h3>
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Something went wrong, please enter your email again.</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button>Reenviar el link</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}